# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Mediterraneancoin Client
Exec=electrum-med %u
GenericName[en_US]=Electrum-MED
GenericName=Electrum-MED
Icon=/usr/share/app-install/icons/electrum-med.png
Name[en_US]=Electrum MediterraneanCoin Wallet
Name=Electrum MediterraneanCoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/mediterraneancoin

